<div class="lego-table">
    <table *ngIf="!isLoading">
        <thead>
            <tr>
                <ng-container *ngFor="let header of tableHeaders">
                    <th *ngIf="header !== 'Código Set' && header !== 'Bolsa' && header !== 'Pedido'">{{ header }}</th>
                    <th *ngIf="header === 'Código Set' || header === 'Bolsa' || header === 'Pedido'">
                        <div class="search-header">
                            <div class="header-content">
                                <p>{{ header }}</p>
                                <img src="https://img.icons8.com/ios/50/search-more.png" alt=""
                                    (click)="openSearch(header === 'Código Set' ? 'lego' : header === 'Bolsa' ? 'task' : 'pedido')">

                            </div>
                            <div class="search-input"
                                [ngStyle]="{'display': (header === 'Código Set' && isOpenSearchLego) || (header === 'Bolsa' && isOpenSearchTask) || (header === 'Pedido' && isOpenSearchPedido) ? 'flex' : 'none'}">
                                <input type="text" placeholder="Buscar"
                                    (input)="searchPieceBy($event, header === 'Código Set' ? 'lego' : header === 'Bolsa' ? 'task' : 'pedido')" />
                            </div>
                        </div>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let piece of legoPieces">
                <td>
                    <div class="image-cell">
                        <img [src]="'https://www.lego.com/cdn/product-assets/element.img.photoreal.192x192/' + piece.code + '.jpg'"
                            alt="">
                    </div>
                </td>
                <td>{{ piece.code }}</td>
                <td>{{ piece.lego }}</td>
                <td>
                    <div class="image-cell">
                        <img [src]="piece.image" alt="">
                    </div>
                </td>
                <td>{{ piece.set }}</td>
                <td>{{ piece.task }}</td>
                <td>{{ piece.cant }}</td>
                <td>{{ piece.pedido }}</td>
                <td>{{ piece.completo }}</td>
                <td>{{ piece.reemplazado }}</td>
                <td>
                    <div class="button-group">
                        <button class="btn btn-success" (click)="openModal(piece)">Editar</button>
                        <button class="btn btn-danger">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="isLoading" class="loader-container">
        <div class="loader"></div>
    </div>

    <app-lego-edit-modal [isOpen]="modalIsOpen" (closed)="onModalClosed()"
        (confirmed)="onModalConfirmed()" [piece]="selectedPiece"></app-lego-edit-modal>
</div>