.lego-pieces {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lego-table {
    width: 100%;
    overflow: auto;

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }
}

.mb-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 0 20px;
}